.bar {
  background-color: rgba(145, 142, 140, 0.3);
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(57, 57, 57);
  border-radius: 8px;
}
