.formWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  max-width: 400px;
  margin-bottom: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bold;
}

.input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgb(176, 173, 173);
  transition: all 350ms ease;
  margin-bottom: 5px;
}

.input:hover,
.input:focus {
  border: 1px solid black;
  cursor: pointer;
}

.error {
  font-weight: normal;
  color: red;
  font-size: 14px;
}

.button {
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  background-color: rgb(141, 47, 255);
  border: 1px solid rgb(123, 122, 122);
  transition: all 250ms ease;
  color: whitesmoke;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(246, 243, 247);
  border: 1px solid black;
  cursor: pointer;
  color: black;
}
