.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.username {
  font-weight: 300;
  font-size: 18px;
}

.logout {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  border: 0px;
}

.logout:hover {
  transform: scale(1.1);
}
